@page "/services/auth/clients/{ClientId}"
@attribute [Authorize]
@using Qweree.Authentication.AdminSdk.Identity.Clients
@using Qweree.Authentication.AdminSdk.Authorization.Roles
@using Microsoft.AspNetCore.Authorization
@using Qweree.Authentication.AdminSdk
@using Qweree.WebApplication.Infrastructure.View
@using DialogService = Qweree.WebApplication.Infrastructure.View.DialogService

@inject AdminSdkClient AdminClient
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ISnackbar Snackbar;

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">@_client?.ApplicationName (@_client?.ClientId)</MudText>
    </MudCardHeader>
    <MudCardContent>
        @if (_client is not null)
        {
            <MudTabs>
                <MudTabPanel Text="Info">
                    <div class="mt-6 ml-6 mb-4">
                        <MudText Typo="Typo.body1">Id: @_client.Id</MudText>
                        <MudText Typo="Typo.body1">Client id: @_client.ClientId</MudText>
                        <MudText Typo="Typo.body1">Application name: @_client.ApplicationName</MudText>
                        <MudText Typo="Typo.body1">Origin: @_client.Origin</MudText>
                        <MudText Typo="Typo.body1">Owner: @_client.Owner?.Username (<MudLink Color="Color.Default" Underline="Underline.Always" Href="@("/services/auth/users/" + _client.Owner?.Id)">@_client.Owner?.Id</MudLink>)</MudText>
                        <MudText Typo="Typo.body1">Creation time: @_client.CreatedAt</MudText>
                        <MudText Typo="Typo.body1">Last modification time: @_client.ModifiedAt</MudText>
                    </div>

                    <MudExpansionPanels MultiExpansion="true" Square="true" DisableBorders="false" Elevation="0">
                        <MudExpansionPanel Disabled="@(!_client.Roles?.Any() ?? false)" Text="@($"Roles ({_client.Roles?.Length ?? 0})")" Class="mt-0" Style="margin: 0 !important;">
                            @foreach (var role in _client.Roles ?? Array.Empty<Role>())
                            {
                                <MudChip Color="Color.Default">@($"{role.Label} ({role.Key})")</MudChip>
                            }
                        </MudExpansionPanel>
                        <MudExpansionPanel Disabled="@(!_effectiveRoles.Any())" Text="@($"Effective roles ({_effectiveRoles.Length})")" Class="mt-0" Style="margin: 0 !important;">
                            @foreach (var role in _effectiveRoles)
                            {
                                <MudChip Color="Color.Dark">@($"{role.Label} ({role.Key})")</MudChip>
                            }
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Delete client" Class="mt-0" Style="margin: 0 !important;">
                            <MudButton OnClick="DeleteAsync" Color="Color.Error">Delete</MudButton>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                </MudTabPanel>
                <MudTabPanel Text="Modify">
                    <MudExpansionPanels MultiExpansion="true" Square="true" DisableBorders="false" Elevation="0">
                        <MudExpansionPanel Text="Client" Class="mt-0" Style="margin: 0 !important;">
                            <MudTextField T="string" @bind-Value="_modifyApplicationName" Label="Application name" Variant="Variant.Outlined" Class="my-6"/>
                            <MudTextField T="string" @bind-Value="_modifyOrigin" Label="Origin" Variant="Variant.Outlined" Class="my-6"/>
                            <MudButton OnClick="SaveModifyAsync" Color="Color.Primary">Save</MudButton>
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Client secret" Class="mt-0" Style="margin: 0 !important;">
                            <MudButton OnClick="RegenerateSecretAsync" Color="Color.Warning">Regenerate</MudButton>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                </MudTabPanel>
                <MudTabPanel Text="Access">
                    <MudContainer>
                        <AccessDefinitionComponent
                            Password="_passwordDefinition"
                            ClientCredentials="_clientCredentialsDefinition"/>
                    </MudContainer>
                    <MudContainer Class="mt-4" Style="text-align: right;">
                        <MudButton Variant="Variant.Outlined" OnClick="SaveAccessDefinitionsAsync" Color="Color.Primary">Save changes</MudButton>
                    </MudContainer>
                </MudTabPanel>
                <MudTabPanel Text="Active sessions" Disabled></MudTabPanel>
                <MudTabPanel Text="Notes">
                    <div class="my-6 mx-6">
                        <NotesComponent Entity="@ClientId"/>
                    </div>
                </MudTabPanel>
            </MudTabs>
        }
    </MudCardContent>
</MudCard>

@code {
    private readonly AccessDefinitionComponent.PasswordGrant _passwordDefinition = new();
    private readonly AccessDefinitionComponent.ClientCredentialsGrant _clientCredentialsDefinition = new();
    private string? _modifyApplicationName;
    private string? _modifyOrigin;
    private Client? _client;
    private Role[] _effectiveRoles = Array.Empty<Role>();

    [Parameter]
    public string? ClientId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshClientAsync();
    }

    private async Task SaveModifyAsync()
    {
        var input = new ClientModifyInput
        {
            Origin = _modifyOrigin,
            ApplicationName = _modifyApplicationName
        };

        var response = await AdminClient.ClientModifyAsync(_client?.Id ?? Guid.Empty, input);
        response.EnsureSuccessStatusCode();

        if (response.IsSuccessful)
        {
            Snackbar.Add("Client updated.", Severity.Success);
            await RefreshClientAsync();
        }
    }

    private async Task RefreshClientAsync()
    {
        if (!Guid.TryParse(ClientId, out var id))
        {
            NavigationManager.NavigateTo("/not-found");
            return;
        }

        var clientResponse = await AdminClient.ClientGetAsync(id);
        var clientEffectiveRolesResponse = await AdminClient.ClientEffectiveRolesGetAsync(id);

        if (!clientResponse.IsSuccessful || !clientEffectiveRolesResponse.IsSuccessful)
        {
            NavigationManager.NavigateTo("/not-found");
        }

        _client = await clientResponse.ReadPayloadAsync();
        _modifyApplicationName = _client?.ApplicationName;
        _modifyOrigin = _client?.Origin;

        var password = _client?.AccessDefinitions?.OfType<PasswordAccessDefinition>()
            .FirstOrDefault();
        var clientCredentials = _client?.AccessDefinitions?.OfType<ClientCredentialsAccessDefinition>()
            .FirstOrDefault();

        _passwordDefinition.Enabled = password is not null;
        _clientCredentialsDefinition.Enabled = clientCredentials is not null;
        _clientCredentialsDefinition.Roles.AddRange(clientCredentials?.Roles ?? Array.Empty<Role>());

        var roles = await clientEffectiveRolesResponse.ReadPayloadAsync();
        _effectiveRoles = roles?.Roles ?? Array.Empty<Role>();
    }

    private async Task SaveAccessDefinitionsAsync()
    {
        var definitions = new List<IAccessDefinitionInput>();
        if (_passwordDefinition.Enabled)
        {
            definitions.Add(new PasswordAccessDefinitionInput());
        }
        if (_clientCredentialsDefinition.Enabled)
        {
            definitions.Add(new ClientCredentialsAccessDefinitionInput
            {
                Roles = _clientCredentialsDefinition.Roles.Select(r => r.Id ?? Guid.Empty).ToArray()
            });
        }

        var response = await AdminClient.ClientAccessDefinitionsReplaceAsync(_client?.Id ?? Guid.Empty, definitions);
        response.EnsureSuccessStatusCode();


        if (!response.IsSuccessful)
            Snackbar.AddErrors(await response.ReadErrorsAsync());
        else
            Snackbar.Add("Access definitions changed.", Severity.Success);
    }

    private async Task DeleteAsync()
    {
        var isDeleting = await DialogService.ConfirmAsync("Remove client", $"Do you really wish to delete client {_client?.ClientId}?");

        if (isDeleting)
        {
            var response = await AdminClient.ClientDeleteAsync(_client?.Id ?? Guid.Empty);
            response.EnsureSuccessStatusCode();

            if (response.IsSuccessful)
                NavigationManager.NavigateTo("/services/auth/clients/list");
        }
    }

    private async Task RegenerateSecretAsync()
    {
        var response = await AdminClient.ClientSecretRegenerateAsync(_client?.Id ?? Guid.Empty);

        if (!response.IsSuccessful)
        {
            Snackbar.AddErrors(await response.ReadErrorsAsync());
        }

        var client = (await response.ReadPayloadAsync())!;
        var secret = client.ClientSecret;
        await DialogService.AlertAsync("Client secret", secret ?? "Error: secret is empty.");
    }

}