@page "/services/auth/clients/{ClientId}"
@attribute [Authorize]
@using Qweree.Authentication.AdminSdk.Identity
@using Qweree.Authentication.AdminSdk.Identity.Clients
@using Qweree.Authentication.AdminSdk.Authorization.Roles
@using Microsoft.AspNetCore.Authorization
@using Qweree.WebApplication.Infrastructure.View
@using DialogService = Qweree.WebApplication.Infrastructure.View.DialogService
@inject IdentityClient _identityClient
@inject NavigationManager _navigationManager
@inject DialogService _dialogService

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">@_client?.ApplicationName (@_client?.ClientId)</MudText>
    </MudCardHeader>
    <MudCardContent>
        @if (_client != null)
        {
            <MudTabs>
                <MudTabPanel Text="Info">
                    <div class="mt-6 ml-6 mb-4">
                        <div><label>Id: </label>@_client.Id</div>
                        <div><label>Client id: </label>@_client.ClientId</div>
                        <div><label>Application name: </label>@_client.ApplicationName</div>
                        <div><label>Origin: </label>@_client.Origin</div>
                        <div><label>Owner: </label>@_client.Owner?.FullName (@_client.Owner?.Username)</div>
                        <div><label>Creation time: </label>@_client.CreatedAt</div>
                        <div><label>Last modification time: </label>@_client.ModifiedAt</div>
                    </div>

                    <MudExpansionPanels MultiExpansion="true" Square="true" DisableBorders="false" Elevation="0">
                        <MudExpansionPanel Disabled="!_client.ClientRoles.Any()" Text="Client roles" Class="mt-0" Style="margin: 0 !important;">
                            @foreach (var role in _client.ClientRoles ?? Array.Empty<RoleDto>())
                            {
                                <MudChip Color="Color.Default">@($"{role.Label} ({role.Key})")</MudChip>
                            }
                        </MudExpansionPanel>
                        <MudExpansionPanel Disabled="!_client.UserRoles.Any()" Text="User roles" Class="mt-0" Style="margin: 0 !important;">
                            @foreach (var role in _client.UserRoles ?? Array.Empty<RoleDto>())
                            {
                                <MudChip Color="Color.Default">@($"{role.Label} ({role.Key})")</MudChip>
                            }
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Delete client" Class="mt-0" Style="margin: 0 !important;">
                            <MudButton OnClick="DeleteAsync" Color="Color.Error">Delete</MudButton>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                </MudTabPanel>
                <MudTabPanel Text="Modify" Disabled></MudTabPanel>
                <MudTabPanel Text="Activity log" Disabled></MudTabPanel>
                <MudTabPanel Text="Comments" Disabled></MudTabPanel>
                <MudTabPanel Text="Notes">
                    <div class="my-6 mx-6">
                        <NotesComponent Entity="@ClientId"/>
                    </div>
                </MudTabPanel>
            </MudTabs>
        }
    </MudCardContent>
</MudCard>

@code {
    private ClientDto? _client;

    [Parameter]
    public string? ClientId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!Guid.TryParse(ClientId, out var id))
        {
            _navigationManager.NavigateTo("/not-found");
            return;
        }

        var clientResponse = await _identityClient.ClientGetAsync(id);

        if (!clientResponse.IsSuccessful)
        {
            _navigationManager.NavigateTo("/not-found");
        }

        _client = await clientResponse.ReadPayloadAsync();
    }

    private async Task DeleteAsync()
    {
        var isDeleting = await _dialogService.ConfirmAsync("Remove user", $"Do you really wish to delete user {_client?.ClientId}?");

        if (isDeleting)
            await _identityClient.ClientDeleteAsync(_client?.Id ?? Guid.Empty);
    }

}