@page "/services/auth/client-roles/list"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using Qweree.Authentication.AdminSdk.Authorization
@using Qweree.Authentication.AdminSdk.Authorization.Roles
@using Qweree.WebApplication.Infrastructure.View
@using DialogService = Qweree.WebApplication.Infrastructure.View.DialogService
@inject DialogService DialogService
@inject AuthorizationClient AuthorizationClient
@inject NavigationManager NavigationManager

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">Client roles</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudTable Items="@_clientRoles" Hover="true" Elevation="0">
            <ToolBarContent>
                <MudSpacer />
                <MudButton Size="Size.Small" Class="ma-2" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Primary" OnClick="RefreshAsync">Refresh client roles</MudButton>
                <MudButton Size="Size.Small" Class="ma-2" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="AddClientRole">Add client role</MudButton>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Role</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">
                    <ShortIdComponent Id="@context.Id"/>
                </MudTd>
                <MudTd DataLabel="Role">
                    @context.Label (@context.Key)
                    @if (context.IsGroup ?? false)
                    {
                        <span style="font-weight: bold;">
                            -- @context.Items?.Length <PluralityComponent Value="context.Items?.Length" Singular="role in group" Plural="roles in group" />
                        </span>
                    }
                </MudTd>
                <MudTd DataLabel="Actions" Style="text-align: right">
                    <MudLink @onclick="() => NavigateToEdit(context.Id)" Class="cursor-pointer mx-2">Edit</MudLink>
                    <MudLink @onclick="() => DeleteAsync(context)" Color="Color.Error" Class="cursor-pointer mx-2">Delete</MudLink>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </MudCardContent>
</MudCard>

@code {

    private readonly List<ClientRole> _clientRoles = new();

    protected override async Task OnInitializedAsync()
    {
        await RefreshAsync();
    }

    private void AddClientRole()
    {
        NavigationManager.NavigateTo("services/auth/client-roles/add");
    }

    private void NavigateToEdit(Guid? id)
    {
        NavigationManager.NavigateTo($"services/auth/client-roles/edit/{id.ToString()}");
    }

    private async Task DeleteAsync(ClientRole context)
    {
        var delete = await DialogService.ConfirmAsync($"Delete client role", $"Do you really wish to delete role {context.Key}?");

        if (!delete)
            return;

        await AuthorizationClient.ClientRoleDeleteAsync((Guid) context.Id!);
        await RefreshAsync();
    }


    private async Task RefreshAsync()
    {
        _clientRoles.Clear();

        var response = await AuthorizationClient.ClientRolesFindAsync();

        if (response.IsSuccessful)
        {
            var payload = await response.ReadPayloadAsync();
            _clientRoles.AddRange(payload ?? ArraySegment<ClientRole>.Empty);
        }
    }

}