@page "/services/auth/roles/list"
@using Microsoft.AspNetCore.Authorization
@using Qweree.Authentication.AdminSdk
@attribute [Authorize]
@using Qweree.Authentication.AdminSdk.Authorization.Roles
@using Qweree.WebApplication.Infrastructure.View
@using DialogService = Qweree.WebApplication.Infrastructure.View.DialogService
@inject DialogService DialogService
@inject AdminSdkClient AdminClient
@inject NavigationManager NavigationManager


<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">Roles</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudTable Items="@_roles" Hover="true" Elevation="0">
            <ToolBarContent>
                <MudSpacer />
                <MudButton Size="Size.Small" Class="ma-2" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Primary" OnClick="RefreshAsync">Refresh roles</MudButton>
                <MudButton Size="Size.Small" Class="ma-2" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="AddRole">Add role</MudButton>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Role</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">
                    <ShortIdComponent Id="@context.Id"/>
                </MudTd>
                <MudTd DataLabel="Role">
                    @context.Label (@context.Key)
                    @if (context.IsGroup ?? false)
                    {
                        <span style="font-weight: bold;">
                            -- @context.Items?.Length <PluralityComponent Value="context.Items?.Length" Singular="role in group" Plural="roles in group" />
                        </span>
                    }
                </MudTd>
                <MudTd DataLabel="Actions" Style="text-align: right">
                    <MudLink @onclick="() => NavigateToEdit(context.Id)" Class="cursor-pointer mx-2">Edit</MudLink>
                    <MudLink @onclick="() => DeleteAsync(context)" Color="Color.Error" Class="cursor-pointer mx-2">Delete</MudLink>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </MudCardContent>
</MudCard>

@code {
    private readonly List<Role> _roles = new();

    protected override async Task OnInitializedAsync()
    {
        await RefreshAsync();
    }

    private void AddRole()
    {
        NavigationManager.NavigateTo("services/auth/roles/add");
    }

    private void NavigateToEdit(Guid? id)
    {
        NavigationManager.NavigateTo($"services/auth/roles/edit/{id.ToString()}");
    }

    private async Task DeleteAsync(Role context)
    {
        var delete = await DialogService.ConfirmAsync($"Delete role", $"Do you really wish to delete role {context.Key}?");

        if (!delete)
            return;

        var response = await AdminClient.RoleDeleteAsync(context.Id ?? Guid.Empty);
        response.EnsureSuccessStatusCode();

        await RefreshAsync();
    }


    private async Task RefreshAsync()
    {
        _roles.Clear();

        var response = await AdminClient.RolesFindAsync();

        if (response.IsSuccessful)
        {
            var payload = await response.ReadPayloadAsync();
            _roles.AddRange(payload ?? ArraySegment<Role>.Empty);
        }
    }
}