<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectComponent Uri="/forbidden" />
                </NotAuthorized>
                <Authorizing>
                    <p>Authorization in progress</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <AuthorizeView>
                <Authorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        Not found.
                    </LayoutView>
                </Authorized>
                <NotAuthorized>
                    <LayoutView Layout="@typeof(EmptyLayout)">
                        Not found.
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>